.contact-part-main {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contact-form-cont1 {
  /* margin-left: 10%; */
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  padding-right: 0;
}

.contact-cont1 h1,
.contact-cont1 p {
  font-size: 3rem;
  line-height: 3rem;
}

.contact-button-container button {
  background-color: black;
  color: white;
  width: 65%;
  height: 40%;
  padding: 3%;
  border-radius: 20px;
}

.contact-button-container button:hover {
  background-color: hsl(0, 0%, 30%);
  color: white;
  transition: 0.5s;
}
.contact-part1,
button {
  width: 60%;
}
.contact-cont1 {
  margin-right: 0;
  margin-left: 10%;
  width: 50%;
  letter-spacing: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
}

.contact-part1 {
  font-size: 1rem;
  width: 65%;
  height: 40%;
  padding: 1.5rem;
  border-radius: 20px;
  border: none;
  background-color: whitesmoke;
  margin: 2%;
  margin-left: 0;
}

.error-message {
  color: red;
  font-weight: 600;
  text-align: center;
}
@media (max-width: 1000px) {
  .contact-part-main {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }
  .contact-cont1 h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  .contact-form-cont,
  .contact-cont1 {
    width: 70%;
  }
  .contact-part1,
  .contact-button-container button {
    width: 100%;
  }
  .contact-button-container button {
    width: 100%;
  }
  .contact-button-container {
    width: 100%;
  }
  .contact-part-main {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 800px) {
  .contact-cont1 h1,
  .contact-cont1 p {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .contact-part1,
  .contact-button-container button {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .contact-cont1 h1,
  .contact-cont1 p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .contact-form-cont {
    width: 70%;
  }
  .contact-part-main {
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .contact-part1,
  .contact-button-container button {
    width: 100%;
    margin-top: 10px;
  }
}
