@font-face {
    font-family: 'Nexa Heavy';
    src: url('/fonts/Nexa-Heavy.ttf') format('truetype');
    font-weight: 900; /* Heavy */
    font-style: normal;
}

@font-face {
    font-family: 'Nexa ExtraLight';
    src: url('/fonts/Nexa-ExtraLight.ttf') format('truetype');
    font-weight: 400; /* Extra Light */
    font-style: normal;
}

/* Apply the font globally (Optional) */
h1 {
    font-family: 'Nexa Heavy', sans-serif;
}
h2 {
    font-family: 'Nexa Heavy', sans-serif;
}
p{
    font-family: 'Nexa ExtraLight', sans-serif;
}
li{
    font-family: 'Nexa Heavy', sans-serif;
    opacity: .4;
}
h3{
    font-family: 'Nexa ExtraLight', sans-serif;
}
button{
    font-family: 'Nexa ExtraLight', sans-serif;
}
